.h1 {
    font-size: 5rem;
    text-align: center;
    padding-bottom: 20px;
}
.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}
body{
    background-color: #E9EAEA;
    color: #021726;
}
.gallery
{
    display: inline-block;
    margin-top: 20px;
}

/**
gallry container
 */
.container1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container1 {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container1 {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container1 {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container1 {
        max-width: 1140px;
    }
}

.container1-fluid, .container1-sm, .container1-md, .container1-lg, .container1-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container1, .container1-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container1, .container1-sm, .container1-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container1, .container1-sm, .container1-md, .container1-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container1, .container1-sm, .container1-md, .container1-lg, .container1-xl {
        max-width: 1140px;
    }
}