.h1 {
    font-size: 5rem;
    text-align: center;
    padding-bottom: 20px;
}
.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}
body{
    background-color: #E9EAEA;
    color: #021726;
}
.gallery
{
    display: inline-block;
    margin-top: 20px;
}

